api/sprite2d/v1/atlas_grammar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="IdentifierT">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._ -]+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SizeT">
        <xs:attribute name="width" type="xs:unsignedLong" use="required" />
        <xs:attribute name="height" type="xs:unsignedLong" use="required" />
    </xs:complexType>
    <!-- ************ -->
    <xs:element name="Atlas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Identifier" type="IdentifierT">
                </xs:element>
                <xs:element name="TextureLocation">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <!-- File must end in the file extension '.png' -->
                            <xs:pattern value=".*\.png"></xs:pattern>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Size" type="SizeT" />
                <xs:element name="SpriteList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Sprite" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="SizeT">
                                            <xs:attribute name="name" type="IdentifierT" use="required" />
                                            <xs:attribute name="index" type="xs:long" use="required" />
                                            <xs:attribute name="anchorX" type="xs:unsignedLong" use="required" />
                                            <xs:attribute name="anchorY" type="xs:unsignedLong" use="required" />
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="animated" type="xs:boolean" default="false" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>